body{
    background-repeat: no-repeat;
    background-size:cover;
    background: rgb(22,55,159);
    background: -moz-linear-gradient(37deg, rgba(22,55,159,1) 0%, rgba(14,197,254,1) 45%, rgba(18,247,151,1) 100%) fixed;
    background: -webkit-linear-gradient(37deg, rgba(22,55,159,1) 0%, rgba(14,197,254,1) 45%, rgba(18,247,151,1) 100%) fixed;
    background: linear-gradient(37deg, rgba(22,55,159,1) 0%, rgba(14,197,254,1) 45%, rgba(18,247,151,1) 100%) fixed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16379f",endColorstr="#12f797",GradientType=1) fixed;
}

.table{
    background-color:#6afae7;
    background: -moz-linear-gradient(180deg, rgba(106,250,231,1) 0%, rgba(14,197,254,1) 45%, rgba(66,95,213,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(106,250,231,1) 0%, rgba(14,197,254,1) 45%, rgba(66,95,213,1) 100%);
    background: linear-gradient(180deg, rgba(106,250,231,1) 0%, rgba(14,197,254,1) 45%, rgba(66,95,213,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6afae7",endColorstr="#425fd5",GradientType=1);
    box-shadow: 2px 9px 15px rgb(98, 112, 175);
    border-radius: 0 0 70px 70px;
    padding:30px 0;
    margin:0 auto;
    position:relative;
    bottom:25px;
    max-width:800px;
    transform: perspective(500px) rotateX(25deg); /*Increasing perspective() and decreasing rotateX() makes the perspective closer to normal*/
}

.scores{
    margin:0 auto;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color:#6afae7;
    color:rgb(72, 70, 190);
    width:40%;
    height:60px;
    border-radius:10px;
    padding-bottom:3px;
}

.scores h3{
    font-size:30px;
    font-weight:200;
    position:relative;
}

.scores span{
    font-size:18px;
    position:relative;
    bottom:21px;
}

.player-score{
    margin-left:10px;
}

.row.player{
    margin:10px 0 20px;
}

.player, .dealer, .buttons{
    text-align:center;
}

.dealer-cards .card img{
    height: 144px;
}

.card{
    box-shadow: inset 0 3px 6px rgb(50, 61, 110);
    width: 100px;
    height: 140px;
    padding: 10px;
    background: rgb(45, 166, 196);
    display:inline-block;
}

.card img{
    display:flex;
    align-self:center;
    justify-self:center;
    width:100%;
    border-radius:7px;
    box-shadow:3px 3px 3px rgb(18, 36, 46,0.3);}

.buttons{
    margin-top:25px;
}

.btn{
    border:none;
    padding:10px 20px;
    font-size:18px;
    font-family:'Poppins';
    margin:0 10px;
    background-color:#6afae7;
    color:rgb(72, 70, 190);
    transition:all 0.75 ease-out;
}

.btn:hover{
    background-color:#3810a7;
    color:white;
    transition:0.75 ease-out;
    border-radius:5px;
}

@media screen and (max-width:800px){
    .table{
        width:80%;}

    .card{
        width:65px;
        height:90px;
    }

    .card img{
        border-radius:4px;\
    }

    .dealer-cards .card img{
        height:95px;
    }

    .row{
        margin-top:10px;
    }

    .player-cards{
        position:relative;
        bottom:10px;
    }
}

@media screen and (max-width:700px){
    .table{
        bottom:18px;
    }

    .card{
        width:11%;
        height:12vh;
    }

    .card img{
        border-radius:0;
        height:100%;
    }

    .dealer-cards .card img{
        height:90px;
    }
}

@media screen and (max-width:575px){
    .table{
        bottom:10px;
    }

    .scores{
        width:50%;
    }

    .scores h3{
        top:3px;
        font-size:28px;
    }

    .scores span{
        font-size:16px;
        bottom:18px;
    }

    .card{
        width:9%;
        height:10vh;
    }


    .dealer-cards .card img{
        height:76px;
    }

    .btn{
        width:100%;
        margin:0;
    }
}

@media screen and (max-width:450px){
    .table{
        width:90%;
    }

    .btn{
        display:block;
        margin:10px auto;
    }

    .card{
        height:8vh;
    }

    .dealer-cards .card img{
        height:60px;
    }
}