#board{
    max-width:640px; min-width:320px;
    margin:auto;
}

.square{
    background-color:rgb(238, 163, 125);
    border:2px solid black;
    width:185px; height: 185px;
    outline:none; /*Removes blue line from clicking our squares*/
    font-size:60px;
    transition:0.15s ease-out;
}

.square:hover{
    background-color:rgb(192, 28, 28);
    transition:0.3s ease-out;
}

#A1:hover{border-top-left-radius: 100px;}
#A3:hover{border-bottom-left-radius: 100px;}
#C1:hover{border-top-right-radius: 100px;}
#C3:hover{border-bottom-right-radius: 100px;}

.board-row{
    margin-bottom:4px;
}

#message{
    text-align:center;
    font-size:40px;
    color:green;
}