body{
    font-family:'Dosis';
    background-color:rgb(98, 96, 190);
}

#board{
    text-align:center;
    position:relative;

}

.square{
    background-color:rgb(238, 163, 125);
    border:none;
    width:200px; height: 200px;
    outline:none; /*Removes blue line from clicking our squares*/
    font-size:60px;
    transition:0.15s ease-out;
}

.square:hover{
    background-color:rgb(192, 28, 28);
    transition:0.3s ease-out;
}

.square:disabled{
    color:black;
}

#A1:hover{border-top-left-radius: 100px;}
#A3:hover{border-bottom-left-radius: 100px;}
#C1:hover{border-top-right-radius: 100px;}
#C3:hover{border-bottom-right-radius: 100px;}

.board-row{
    margin-bottom:4px;
}

#message{
    text-align:center;
    font-size:40px;
    color:white;
    margin-bottom:20px;
}

.winning-square{background-color:green;}
.winning-square:hover{background-color:rgb(29, 38, 26);}

@media screen and (max-width:670px){
    .square{
        width: 150px; height: 150px;
    }
}

@media screen and (max-width:474px){
    .square{
        width: 115px; height: 115px;
    }
}